<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 
                               'data-turbolinks-track': 'reload' %>
    <!-- HTML shimがこの1行で収まる -->
    <%= render 'layouts/shim' %>
    <!-- ↑　_shim.html.erbというﾌｧｲﾙを探し、内容を評価し結果をビューに挿入　-->
  </head>
  <body>
    <!-- headerの内容がこの1行で収まる -->
    <%= render 'layouts/header' %>
    <!-- ↑　_header.html.erbといううﾌｧｲﾙを探し、内容を評価し結果をビューに挿入　-->
      <div class="container">
      <% flash.each do |message_type, msg| %>
        <div class="alert alert-<%= message_type %>"><%= msg.html_safe %></div>
      <% end %>
      <%= yield %>  <!--レイアウトを使う時に、static_pages/topにアクセスするとtop.html.erbの内容がHTMLに変換され、＜%= yield %>＞の位置に挿入される-->
      <%= debug(params) if Rails.env.development? %>
    <!-- ↑デバッグ情報が開発環境のみ表示されるよう対応するためのコード　-->
      </div>
  </body>
</html>
